# Tools
tools/binutils/**
tools/mwcc_compiler/**
tools/asm_processor/tmp/
tools/elf2dol/elf2dol

# Build artifacts
build/
*.o
*.obj
*.elf
*.map

# Python artifacts
__pycache__/
.venv/

# IDE artifacts
.vscode/

# Permuter artifacts
nonmatchings/
